@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@source "../node_modules/@foxui";
@source "../node_modules/@atmo-dev/events-ui/dist";
@source "../../../packages/ui/src";

@custom-variant dark (&:is(.dark *));

@import '@foxui/core/theme.css';

@source "../node_modules/@foxui";

.maplibregl-ctrl-bottom-left > .maplibregl-ctrl.maplibregl-ctrl-attrib {
	font: 7px / 10px monospace;
	border-top-right-radius: 0.5rem;
	border: none;
	box-shadow: none;
	min-height: 1rem;
	background-color: rgba(0, 0, 0, 0.45);
}

.maplibregl-ctrl-attrib-button {
	display: none;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib .maplibregl-ctrl-attrib-inner {
	color: rgba(255, 255, 255, 0.85);
	line-height: 1rem;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib .maplibregl-ctrl-attrib-inner a {
	color: inherit;
}
